<table summary="employee form fields">
       <tr>
        <th><%= f.label(:emp_id,"EmpID") %></th>
        <td><%= f.text_field(:emp_id) %></td>
        </tr>
        <tr>
        <th><%= f.label(:emp_name) %></th>
        <td><%= f.text_field(:emp_name) %></td>
        </tr>
        <tr>
        <th><%= f.label(:qualification) %></th>
        <td><%= f.text_field(:qualification) %></td>
        </tr>
        <tr>
        <th><%= f.label(:dob) %></th>
        <td><%= f.text_field(:dob) %></td><br />
        </tr>
        <tr>
        <th><%= f.label(:date_of_joining) %></th>
        <td><%= f.text_field(:date_of_joining) %></td>
        </tr>
        <tr>
        <th><%= f.label(:exp_in_years) %></th>
        <td><%= f.text_field(:exp_in_years) %></td>
        </tr>
        <tr>
        <th><%= f.label(:dept_id,"DeptID") %></th>
        <td><%= f.text_field(:dept_id) %></td>
      </tr>
  </table>