<% @page_title = "Employees" %>
<div class="Employees index">
<h2>Employees </h2>
<%= link_to("<< Departments", {:controller => 'departments', :action => 'index'}, :class => 'back-link') %><br />
<%= link_to(image_tag('plus_sign.png') + " Add Employee", {:action => 'new'},:class => 'action new') %><br ><br >
<%= pluralize(@employees.size,'Employee')%>
<table class="listing" summary="Employee list">
	<tr class="header">
		<th>EmployeeID</th>
		<th>Name</th>
		<th>Qualification</th>
		<th>DateOfBirth</th>
		<th>DateOfJoining</th>
		<th>YearsOfExperience</th>
        <th>DepartmentID</th>
		<th>Actions</th>
    </tr>
    <% @employees.each do |employee| %>
    <tr>
    	<td><%= employee.emp_id %></td>
    	<td><%= employee.emp_name %></td>
    	<td><%= employee.qualification %></td>
    	<td><%= employee.dob %></td>
    	<td><%= employee.date_of_joining %></td>
    	<td><%= employee.exp_in_years %></td>
    	<td><%= employee.dept_id %></td>
    	<td><%= link_to("show",{:action => 'show',:emp_id => employee.emp_id},:class => 'action show') %>
    	<%= link_to("edit",{:action => 'edit',:emp_id => employee.emp_id},:class => 'action edit') %>
    	<%= link_to("delete",{:action => 'delete',:emp_id => employee.emp_id}, :class => 'action delete') %>
    </td>
    </tr>
    <% end %>
</table>
</div>